body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #1f1f1f;
}

button{
    cursor: pointer;
    padding:30px 60px;
    background-color: green;
    font-size: 32px;
    color:white;
}

p{
    font-family: sans-serif;
    font-size: 32px;
    color:white;
}

#toggle{
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    padding:20px 40px;
    background-color: black;
    font-size: 32px;
    color:white;
}

body.light-mode{
    display: grid;
    place-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: white;
}

body.light-mode p{
    font-family: sans-serif;
    font-size: 32px;
    color:black;
}



